@font-face {
  font-family: "Kayak";
  src:
    url("Kayak/Kayak Sans Regular.otf")
}
@font-face {
  font-family: "KayakBold";
  src:
    url("Kayak/Kayak Sans Bold.otf")
}
@font-face {
  font-family: "KayakLight";
  src:
    url("Kayak/Kayak Sans Light.otf")
}

:root {
  --dark: #092635;
  --mid: #1B4242;
  --light: #5C8374;
  --bright: #9EC8B9;
}

.locked {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--mid);
    font-family: "KayakBold";
}

header {
    background-color: var(--dark);
    color: var(--bright);
    padding-left: 60px;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-size: 120%;
}

.box-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.day-box {
    flex: 1;
    min-width: 200px;
    max-width: 12%;
    height: 800px;
    background-color: var(--light);
    border-radius: 15px;
    margin: 10px;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    display: flex;
}

.label {
    background-color: var(--dark);
    color: var(--bright);
    width: 100%;
    padding: 14px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.shifts {
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3% 0;
}

.shift {
    min-height: 110px;
    margin: 3% 6% 3%;
    border-radius: 15px;
    overflow: hidden;
    text-align: left;
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--bright);
    position: relative;
    --animate-duration: 400ms;
}

.shift:hover {
    background-position: left;
}

.details {
    padding: 10px 15px;
}

.sub {
    font-family: "Jost";
    font-weight: 450;
    margin: 3% 0;
}

.name {
    font-family: "Jost";
    font-weight: 650;
    font-size: 19px;
    margin: 3% 0;
}

.weekday {
    margin: 3px 0 0;
    font-size: 24px;
}

.tab {
    position: relative;
    background-color: var(--bright); 
    width: 42px;
    height: 36px;
    border-radius: 6px;
    display: grid;
    place-items: center;
}

.hole {
    position: absolute;
    background-color: white;
    width: 4px;
    height: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    top: 0;
}

.l {
    left: 12px;
}

.r {
    right: 12px;
}

.number {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #2a394e;
}

.arrow {
    color: var(--light);
    margin: 0 30px;
    transition: .22s;
}

.arrow:hover {
    color: var(--bright);
    cursor: pointer;
}

.big {
    --ggs: 2.4;
    background-color: var(--mid);
}


.small {
    --ggs: 1.5;
    background-color: var(--dark);
}

.big:hover {
    --ggs: 2.75;
}


.small:hover {
    --ggs: 1.8;
}


.month {
    margin: 50px auto 30px;
    color: var(--bright);
    font-size: 120%;
    text-align: center;
    line-height: 30px;
    background-color: var(--dark);
    width: 30%;
    border-radius: 18px;
    border: 6px solid var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@keyframes slide {
    100% {
        right: 100%;
    }
}

.slide {
    animation: .55s .55s ease slide;
    animation-fill-mode: forwards;
}
